@import url(nav.style.css);

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--color-sec);
  background-image: url(https://st3.depositphotos.com/32490888/33836/i/450/depositphotos_338368924-stock-photo-empty-spot-lit-dark-background.jpg);
  background-position: center;
  background-size: cover;
}

header > .logo {
  scale: 2;
  padding: 0.5rem;
}

header > .logo-mini {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 0.5rem;
}

header > .logo,
header > .logo-mini {
  border-style: solid;
  border-color: var(--color-sec);
  border-width: 0.1rem 0 0 0.1rem;
  border-radius: 0.5rem;
  transition: 0.1s ease-in-out;
}

header > .logo:hover,
header > .logo-mini:hover {
  border-color: var(--color-pri);
  border-width: 0 0.2rem 0.2rem 0;
}

header > .logo h1,
header > .logo-mini h1 {
  transition: 0.3s ease-in-out;
  color: var(--color-pri);
}

header > .logo:hover h1,
header > .logo-mini:hover h1 {
  color: var(--color-sec);
}
