nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  right: 2rem;
  top: 2rem;
  padding: 0.5rem;
  border-width: 0.2rem 0 0 0.2rem;
  border-style: solid;
  border-color: var(--color-sec);
  border-radius: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

nav:hover {
  width: 7rem;
  height: 7.5rem;
  border-color: var(--color-pri);
  border-width: 0 0.2rem 0.2rem 0;
}

.nav-index:hover {
  height: 7.5rem;
}

.nav-register:hover {
  height: 5.5rem;
}

nav:hover > div:nth-child(1) {
  margin-top: -0.5rem;
}

nav > div > a > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-pri);
  transition: 0.2s ease-in-out;
}

nav:hover > div > a > div {
  color: var(--color-sec);
}

.menu {
  transition: 0.2s ease-in-out;
}

nav:hover .menu {
  display: none;
}
