:root {
  --font-common: "Kanit", sans-serif;
  --color-bg: #1a1a1a;
  --color-inv: #f5f5f5;
  --color-pri: #7538a1;
  --color-sec: #4fe9e9;
}

*,
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: var(--font-common);
  font-weight: bolder;
}

body {
  box-sizing: border-box;
  background-color: var(--color-bg);
  overflow-x: hidden;
}

a,
a:visited,
a:active,
a:hover {
  color: none;
  text-decoration: none;
}
