@import url("https://fonts.googleapis.com/css2?family=Kanit:ital@0;1&display=swap");
@import url(header/header.style.css);
@import url(main/main.style.css);

:root {
  --font-common: "Kanit", sans-serif;
  --color-bg: #1a1a1a;
  --color-inv: #f5f5f5;
  --color-pri: #4b0082;
  --color-sec: #ffd700;
}

*,
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: var(--font-common);
  font-weight: bolder;
}

body {
  height: 200svh;
  box-sizing: border-box;
  background-color: var(--color-bg);
  overflow-x: hidden;
}

a,
a:visited,
a:active,
a:hover {
  color: none;
  text-decoration: none;
}
